{% extends "index.html" %}

{% block body %}
    {% with messages = get_flashed_messages () %}
            {% if messages %}
                {% for msg in messages %}
                <p>{{msg}}</p>
                {% endfor %}
            {% endif %}
    {% endwith %}
<div>
    
    <div class="view-container">
        <h1>View Password</h1>
        <div class="password-entry">
            <div class="password-info">
                <strong>{{ password.name }}</strong>
                <span>Email: {{ password.email }}</span><br>
                <p><strong>Password:</strong> <span id="pw"  data-password="{{ actual_password }}">••••••••</span></p>
                <button onclick="toggleViewPassword()">Show/Hide</button>
            </div>
            <div class="password-actions">
                <form action="/edit/{{ password.id }}" method="GET">
                    <button class="edit-btn">Edit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

</html>




